/* regole generali di pagina */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* stile del header */
header{
  height: 500px;
  width: 100%;
  background-color: green;
}

.topheader{
  background-color: #0D325A;
  height: 50px;
  width: 80%;
  margin: 0 10%
}

.logo{
  margin-left: 30px;
  margin-right: 30px;
  float: left;
}

.navlist{
  float: left;
  list-style: none;
}

a.navlink{
  display: block;
  color: white;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
/* stile parte inferiore header */
