/* regole generali di pagina */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* stile del header */
header{
  height: 550px;
  width: 100%;
  background-color: #0D325A;
  position: relative;
}

.topheader{
  background-color: #0D325A;
  /* height: 50px; */
  width: 80%;
  margin: 0 10%;
  padding: 20px;

}
/* Stile del logo */
.logo{
  margin-left: 30px;
  margin-right: 30px;
  float: left;
}

/* stile link navbar */
.navlist{
  float: left;
  list-style: none;
}

a.navlink{
  display: block;
  color: white;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

a.navlink:hover {
  color: orange;
}

/* stile area login */

.tutor {
  float: left;
  font-size: 14px;
  padding: 14px;
  color: #5F6163;
  font-weight: bold;
  margin-left: 150px;
}

.button {
  padding: 10px;
  box-sizing: content-box;
  margin: 8px;
  border: 1px solid black;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.transbutton{
  background-color: #0D325A;
}

.greenbutton{
  background-color: green;
}

.topheader{
  content: "";
  display: table;
  clear: both;
}
/* stile parte inferiore header */

.botheader{
  height: 450px;
  width: 90%;
  margin-left: 10%;
}

/* stile scritta */
.intestazione h1{
  color: white;
  float: left;
  margin-top: 5%;
  width: 50%;
  font-size: 50px;
}

/* stile immagine */
.oldman{
  height: 450px;
  width: 1000px;
  float: right;
  width: 50%;
}

/* stile bottone */
.botheader .button{
  float: left;
  margin:5% 0;

}
/* clearfix */
.botheader:after{
  content:"";
  display: table;
  clear: both;
}
/* stile della prima section */
.greydiv {
  height: 200px;
  background-color: #F9F9F9;
  text-align: center;
  padding: 60px;
  font-size: 1.2em;
  line-height: 40px;
}
/* stile del trittico */
.trittico{
  width: 90%;
  margin: 0 5%;
}
.profilo, .computer, .progressi{
  float: left;
  width: 25%;
  margin: 5% 4%;
  text-align: center;
}

.tritticoimg {
  height: 150px;
  width: 150px;
  margin-bottom: 15%;
}

.tritticotitle{
  color: green;
  font-size: 20px;
  margin-bottom: 30px;
}

.tritticotext{
  font-size: 16px;
}

.trittico:after{
  content: "";
  display: table;
  clear: both;
}

/* sezione footer */

footer{
  height: 400px;
  width: 100%;
}

/* regole parte superiore footer */
.topfooter{
  height: 100px;
  width: 100%;
  padding-top: 20px;
  background-color: #0D325A;
}

.footertxt{
  color: white;
  margin-left: 10%;
  line-height: 30px;
}

.footertxt a{
  color: orange;
  text-decoration: none;
}

.footertxt a:hover{
  text-decoration: underline;
}

/* regole parte inferiore footer */
.botfooter{
  background-color:#17406B;
  height: 300px;
  width: 100%;

}
/* stile container di sinistra */
.contatti{
  width: 30%;
  float: left;
  line-height: 30px;
  margin-left: 20%;
  margin-top: 50px;
  }

ul {
  list-style: none;
  color: white;
}

.contatti .contact{
  color: #7991AA;
  text-decoration: none;
}

.contatti a:hover{
  text-decoration: underline;
}

/* stile container footer di destra */
.credits{
  width: 30%;
  float: left;
  text-align: right;
  margin-right: 20%;
  margin-top: 50px;
}

.credit1{
  line-height: 60px;
  color: white;
  font-weight: bold;
}

.recapito{
  line-height: 20px;
  color: #7991AA
}

footer{
  content: "";
  display: table;
  clear: both;
}
